/* ===== Title and Navbar ===== */
#nav h2{
    text-transform: uppercase;
}

.list{
    position: relative;
    left: 12%;
}
.list i{
    padding: 5px 5px;
    font-size: 15px;
    /* box-shadow: 1px 1px 10px black; */
    box-sizing: border-box;
}

.list span{
    display: none;
}

.list a:hover span{
    display:inline-block;
    transition: all 3s ease;
    color: white;
}

.list ul{
    display: flex;
    list-style: none;
}

.list ul li{
    margin: 10px;
    padding: 5px 10px;
}

.list ul li a{
    text-decoration: none;
}
/* ===== About ===== */
#about h1{
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

/* ===== Portfolio ===== */
#portfolio h1{
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}


/* =========== Contacts ========= */
#contacts b{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

#contacts i{
    font-size: 25px;
    margin: 3px;
}